<ul class="nav nav-tabs">
    <li class="active">
        <a href="#idleAdventurers" data-toggle="tab" aria-expanded="false"><img :src="SpriteManager().getIcon('idle')" width="20px" /><span class="badge">{{AdventurerManager().countAdventurersAtStatus('Idle')}}</span></a>
    </li>
    <li>
        <a href="#questingAdventurers" data-toggle="tab" aria-expanded="false"><img :src="SpriteManager().getIcon('questing')" width="20px" /><span class="badge">{{AdventurerManager().countAdventurersAtStatus('Questing')}}</span></a>
    </li>
    <li>
        <a href="#deadAdventurers" data-toggle="tab" aria-expanded="false"><img :src="SpriteManager().getIcon('dead')" width="20px" /><span class="badge">{{AdventurerManager().countAdventurersAtStatus('Dead')}}</span></a>
    </li>
</ul>
<div id="adventurerTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="idleAdventurers">
        <div class="col-xs-12 text-center text-muted">Idle Adventurers</div>
        <div class="col-md-6" v-for="adventurer in AdventurerManager().getAdventurersAtStatus('Idle')">
            <div class="panel panel-default ">
                <div class="panel-heading ">
                    <h3 class="panel-title ">{{adventurer.name.full}}
                        <button v-if="adventurer.status=='Idle' " type="button " class="btn btn-info btn-xs pull-right " @click="AdventurerManager().talkTo(adventurer.name.first) ">Talk to {{adventurer.name.first}}</button>
                    </h3>
                </div>
                <div class="panel-body ">
                    <div>Race: {{adventurer.race.adjective}}</div>
                    <div>Occupation: {{adventurer.type}}</div>
                    <div>Birth Date: {{TimeManager().getGameTime(adventurer.birthTime).toDateString()}}</div>
                    <span v-for="skill in adventurer.skills " :title="skill.name + ' ' + skill.amount "><img :alt="skill.name " v-for="n in skill.amount " width="24px " :src=" 'img/icons/' + DataManager().getData( 'skills', skill.name).icon + '.png' " /></span>
                </div>
                <div class="panel-footer ">
                    {{AdventurerManager().getAge(adventurer)}} years old
                    <div class="pull-right ">{{adventurer.experience}}xp</div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="questingAdventurers">
        <div class="col-xs-12 text-center text-muted">Questing Adventurers</div>
        <div class="col-md-6" v-for="adventurer in AdventurerManager().getAdventurersAtStatus('Questing')">
            <div class="panel panel-default ">
                <div class="panel-heading ">
                    <h3 class="panel-title ">{{adventurer.name.full}}
                        <button v-if="adventurer.status=='Idle' " type="button " class="btn btn-info btn-xs pull-right " @click="AdventurerManager().talkTo(adventurer.name.first) ">Talk to {{adventurer.name.first}}</button>
                    </h3>
                </div>
                <div class="panel-body ">
                    <div>Race: {{adventurer.race.adjective}}</div>
                    <div>Occupation: {{adventurer.type}}</div>
                    <div>Birth Date: {{TimeManager().getGameTime(adventurer.birthTime).toDateString()}}</div>

                    <span v-for="skill in adventurer.skills " :title="skill.name + ' ' + skill.amount "><img :alt="skill.name " v-for="n in skill.amount " width="24px " :src=" 'img/icons/' + DataManager().getData( 'skills', skill.name).icon + '.png' " /></span>
                    <div v-if="AdventurerManager().getAdventurersQuest(adventurer) !== undefined">
                        Quest: {{AdventurerManager().getAdventurersQuest(adventurer).contract.name}}
                    </div>
                </div>
                <div class="panel-footer ">
                    {{adventurer.age}} years old
                    <div class="pull-right ">{{adventurer.experience}}xp</div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="deadAdventurers">
        <div class="col-xs-12 text-center text-muted">Dead Adventurers</div>
        <div class="col-md-6" v-for="adventurer in AdventurerManager().getAdventurersAtStatus('Dead')">
            <div class="panel panel-default ">
                <div class="panel-heading ">
                    <h3 class="panel-title ">{{adventurer.name.full}}
                        <button v-if="adventurer.status=='Idle' " type="button " class="btn btn-info btn-xs pull-right " @click="AdventurerManager().talkTo(adventurer.name.first) ">Talk to {{adventurer.name.first}}</button>
                    </h3>
                </div>
                <div class="panel-body ">
                    <div>Race: {{adventurer.race.adjective}}</div>
                    <div>Occupation: {{adventurer.type}}</div>
                    <div>Birth Date: {{TimeManager().getGameTime(adventurer.birthTime).toDateString()}}</div>
                    <span v-for="skill in adventurer.skills " :title="skill.name + ' ' + skill.amount "><img :alt="skill.name " v-for="n in skill.amount " width="24px " :src=" 'img/icons/' + DataManager().getData( 'skills', skill.name).icon + '.png' " /></span>
                </div>
                <div class="panel-footer ">
                    {{adventurer.age}} years old
                    <div class="pull-right ">{{adventurer.experience}}xp</div>
                </div>
            </div>
        </div>
    </div>
</div>